* { 
  box-sizing: border-box; 
  font-family: 'Open Sans', sans-serif;

  color: rgba(0,0,0,.54);
  background: #fcfcfc;

  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
  margin: 0;
  padding: 0;

  color: rgba(0,0,0,.87);
  line-height: 1;
}

h1 {
  font-size: 8vw;
  padding-bottom: 5vh;
}

body {
  min-height: 100vh;
  padding: 10vh 10vw;
  margin: 0;

  display: flex;
  align-items: top;
  justify-content: center;
}

body > * {
  width: 50%;
  padding-right: 10vw;
  flex-grow: 1;
}

.imageupload > * {
  margin-bottom: 10px;
}

.imageupload [type=submit] {
  padding: 12px 24px;
  cursor: pointer;

  background: rgba(0,0,0,.87);
  color: white;

  border: 0;

  transition: background 0.1s linear;
}

.imageupload [type=submit]:hover {
  background: #ff9900;
}